Application/storeup/app/build/intermediates/
Application/storeup/build/android-profile/
Application/StoreUp-Server/node_modules/
Application/StoreUp-Server/.idea/
Application/storeup/.idea/compiler.xml
Application/storeup/.idea/
Application/storeup/.gradle/3.3/
Application/storeup/app/build/generated/
Application/storeup/gradle/wrapper/
Application/storeup/app/app.iml
Application/storeup/build/generated/
Application/storeup/build/outputs/apk/app-debug.apk
Application/storeup/build/intermediates/dex-cache/cache.xml
Application/storeup/app/build/outputs/logs/manifest-merger-debug-report.txt
